# same as  
# docker run --name yekyll -p 80:4000 -v $(pwd):/site bretfisher/jekyll-serve 

services: 
  jekyll: 
    image: bretfisher/jekyll-serve
    volumes:
      - .:/site
    ports:
      - '80:4000'